body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 40px;
}

h1 {
    color: #2d4ea1;
    font-size: 32px;
}

h2 {
    color: #444;
    font-family: "Trebuchet MS", sans-serif;
    margin-top: 30px;
}

p {
    font-size: 18px;
    max-width: 700px;
}

ul, ol {
    font-size: 17px;
}

.footer {
    margin-top: 50px;
    font-size: 16px;
    color: #333;
}
